* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  Roboto;
  background-color: #000;
  color: white;
}
.container{
    width: 50%;
    margin: 0 auto;
}
.searchBar {
  margin: 20px 0;
}
#search,
.search {
  padding: 10px;
  border-radius: 5px;
  font-size: 40px;
}
#search{
  width: 70%;
}

.box {
  font-size: 30px;
  padding: 20px;
  text-align: center;
  align-items: center;
}
img{
    display: block;
    margin: 10px;
    width: 30%;
    float: left;
}